.App {
  text-align: center;
}

.bg-black {
  background: black;
}

.bg-custom {
  background-color: rgb(48, 48, 48);
}

.custom-nav-header {
  color: rgb(173, 172, 172);
  font-size: 18px;
  font-weight: 700;
}

.custom-nav-item {
  color: rgb(173, 172, 172);
}

.form-label {
  padding-right: 10% !important;
}

.image-collection {
  margin: 0% 15%;
  position: relative;
  max-width: 100rem;
  min-width: 50rem;
  min-height: 30rem;
  max-height: 70rem;
  overflow: hidden;
}
.single-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  /* transition: opacity 0.1s ease-in-out; */
  width: 100rem;
  height: 50rem;
  object-fit: cover;
}

img:hover {
  transition: width 0.1s;
  -webkit-transition: width 0.1s; /* Safari */
}

@media (min-width: 1400px) {
  .container {
    max-width: 100%;
    height: 100% !important;
  }
}
